/***** Button Section ******/
@mixin btn($button-color) {
  color: $button-color;
  border: 1px solid $button-color;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin: 10px;
  font-size: 24px;
  &:hover {
    color: white;
    background-color: $button-color;
  }
}
@keyframes rainbowizer {
  0%,
  100% {
    color: black;
  }
  10%,
  90% {
    color: red;
  }
  20%,
  80% {
    color: orange;
  }
  30%,
  70% {
    color: yellow;
  }
  40%,
  60% {
    color: green;
  }
  50% {
    color: blue;
  }
}
.button-examples {
  text-align: center;
}
.button-div {
  display: inline-block;
}
input[type="button"] {
  cursor: pointer;
}
hr.bottom {
  margin-bottom: 50px;
}
.button-stop {
  @include btn(red);
}
.button-caution {
  @include btn(#FFC200);
}
.button-continue {
  @include btn(green);
}
.button-wtf {
  @include btn(black);
  background-image: linear-gradient( to right, red, orange, yellow, green );
  &:hover {
    color: hotpink;
    border: 1px solid hotpink;
    animation: rainbowizer 1.5s infinite;
  }
}
.button-annoying {
  @include btn(black);
  transform: rotate(-4deg);
  &:hover {
    transform: translateY(-58px);
  }
}
/****** Nav Section ******/
@keyframes nav-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-container {
  text-align: center;
}

li.top-nav-items {
  color: black;
  display: inline-block;
  margin-right: 5%;
  cursor: pointer;
  background-color: #8ccd6e;
  padding: 10px 20px;
  vertical-align: top;
  position: relative;
  text-align: center;

  &:hover .sub-nav-items {
    display: block;
    animation: nav-fade 0.4s;
  }
}

.sub-nav-items {
  display: none;
  list-style-type: none;
  position: absolute;
  padding: 0;
  background-color: #8ccd6e;
  width: 100px;
  margin-left: -20px;
  margin-top: 10px;

  & li:hover {
    background-color: #207681;
  }
}

/****** Content Tile *****/


.all-the-tiles {
  text-align: center;
}

.tile-container {
  vertical-align: top;
  margin: 20px;
  height: 370px;
  position: relative;
  text-align: left;
  transition: all .5s ease;
  cursor: pointer;

  // &:hover {
  //       box-shadow: 0px 0px 15px black;
  // }
}

/***** Contents for a Bill Murray *******/
$tile-title-murray: "Bill Murray";

$tile-image-murray: url(../images/murray.jpeg);

$tile-content-murray: "We came, we saw, we kicked its ass!";

.murray {

  &.tile-container {
    width: 300px;
    box-shadow: 0px 0px 10px #979797;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;

      &:hover {
        box-shadow: 0px 0px 15px black;

        & .img-container{
          transform: scale(1.5);
          width: 300px;
        }
      }

    & .img-container {
      content: $tile-image-murray;
      overflow: hidden;
    }

    & .tile-title {
      margin: 10px 10px 5px;
      font-size: 24px;
    }

    & .tile-title:after {
      content: $tile-title-murray;
      font-size: 20px;
    }

    & .tile-text {
      margin: 10px;
    }

    & .tile-text:after {
      content: $tile-content-murray;
    }

    & .link-container {
      padding-left: 20px;
      position: absolute;
      bottom: 0px;
    }

    & a {
      display: inline-block;
      text-decoration: none;
      color: #FFAB40;
      padding: 5px 10px;
      margin-bottom: 20px;
      font-size: 16px;
      transition: all .5s ease;
      border: 1px solid transparent;

      &:first-of-type {
        margin-right: 10px;
      }

      &:hover {
        font-weight: 900;
        border: 1px solid #ffab40;
        border-radius: 2px;
      }
    }
  }
}


/******* Contents for Marty McFly ******/

$tile-title-mcfly: "Marty McFly";

$tile-image-mcfly: url(../images/mcfly.png);

$tile-content-mcfly: "Wait a minute. Wait a minute, Doc. Ah... Are you telling me that you built a time machine... out of a DeLorean?";

.mcfly {

  &.tile-container {
    width: 300px;
    box-shadow: 0px 0px 10px #979797;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;

    &:hover {
      box-shadow: 0px 0px 15px black;
    }

    & .img-container {
      content: $tile-image-mcfly;
    }

    & .tile-title {
      margin: 10px 10px 5px;
      font-size: 24px;
    }

    & .tile-title:after {
      content: $tile-title-mcfly;
      font-size: 20px;
    }

    & .tile-text {
      margin: 10px;
    }

    & .tile-text:after {
      content: $tile-content-mcfly;
    }

    & .link-container {
      padding-left: 20px;
    }

    & a {
      display: inline-block;
      text-decoration: none;
      color: #FFAB40;
      padding: 5px 10px;
      margin-bottom: 20px;
      font-size: 16px;
      transition: all .5s ease;
      border: 1px solid transparent;

      &:first-of-type {
        margin-right: 10px;
      }

      &:hover {
        font-weight: 900;
        border: 1px solid #ffab40;
        border-radius: 2px;
      }
    }
  }
}

/****** Content for Homer Simpson *******/

$tile-title-homer: "Homer Simpson";

$tile-image-homer: url(../images/homer.jpg);

$tile-content-homer: "It's not whether you win or lose.  It's how drunk you get.";

.homer {

  &.tile-container {
    width: 300px;
    box-shadow: 0px 0px 10px #979797;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;

    &:hover {
      box-shadow: 0px 0px 15px black;
    }

    & .img-container {
      content: $tile-image-homer;
    }

    & .tile-title {
      margin: 10px 10px 5px;
      font-size: 24px;
    }

    & .tile-title:after {
      content: $tile-title-homer;
      font-size: 20px;
    }

    & .tile-text {
      margin: 10px;
    }

    & .tile-text:after {
      content: $tile-content-homer;
    }

    & .link-container {
      padding-left: 20px;
      position: absolute;
      bottom: 0px;
    }

    & a {
      display: inline-block;
      text-decoration: none;
      color: #FFAB40;
      padding: 5px 10px;
      margin-bottom: 20px;
      font-size: 16px;
      transition: all .5s ease;
      border: 1px solid transparent;

      &:first-of-type {
        margin-right: 10px;
      }

      &:hover {
        font-weight: 900;
        border: 1px solid #ffab40;
        border-radius: 2px;
      }
    }
  }
}
