/***** Button Section ******/
@keyframes rainbowizer {
  0%,
  100% {
    color: black; }
  10%,
  90% {
    color: red; }
  20%,
  80% {
    color: orange; }
  30%,
  70% {
    color: yellow; }
  40%,
  60% {
    color: green; }
  50% {
    color: blue; } }
.button-examples {
  text-align: center; }

.button-div {
  display: inline-block; }

input[type="button"] {
  cursor: pointer; }

hr.bottom {
  margin-bottom: 50px; }

.button-stop {
  color: red;
  border: 1px solid red;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin: 10px;
  font-size: 24px; }
  .button-stop:hover {
    color: white;
    background-color: red; }

.button-caution {
  color: #FFC200;
  border: 1px solid #FFC200;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin: 10px;
  font-size: 24px; }
  .button-caution:hover {
    color: white;
    background-color: #FFC200; }

.button-continue {
  color: green;
  border: 1px solid green;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin: 10px;
  font-size: 24px; }
  .button-continue:hover {
    color: white;
    background-color: green; }

.button-wtf {
  color: black;
  border: 1px solid black;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin: 10px;
  font-size: 24px;
  background-image: linear-gradient(to right, red, orange, yellow, green); }
  .button-wtf:hover {
    color: white;
    background-color: black; }
  .button-wtf:hover {
    color: hotpink;
    border: 1px solid hotpink;
    animation: rainbowizer 1.5s infinite; }

.button-annoying {
  color: black;
  border: 1px solid black;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin: 10px;
  font-size: 24px;
  transform: rotate(-4deg); }
  .button-annoying:hover {
    color: white;
    background-color: black; }
  .button-annoying:hover {
    transform: translateY(-58px); }

/****** Nav Section ******/
@keyframes nav-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.nav-container {
  text-align: center; }

li.top-nav-items {
  color: black;
  display: inline-block;
  margin-right: 5%;
  cursor: pointer;
  background-color: #8ccd6e;
  padding: 10px 20px;
  vertical-align: top;
  position: relative;
  text-align: center; }
  li.top-nav-items:hover .sub-nav-items {
    display: block;
    animation: nav-fade 0.4s; }

.sub-nav-items {
  display: none;
  list-style-type: none;
  position: absolute;
  padding: 0;
  background-color: #8ccd6e;
  width: 100px;
  margin-left: -20px;
  margin-top: 10px; }
  .sub-nav-items li:hover {
    background-color: #207681; }

/****** Content Tile *****/
.all-the-tiles {
  text-align: center; }

.tile-container {
  vertical-align: top;
  margin: 20px;
  height: 370px;
  position: relative;
  text-align: left;
  transition: all 0.5s ease;
  cursor: pointer; }

/***** Contents for a Bill Murray *******/
.murray.tile-container {
  width: 300px;
  box-shadow: 0 0 10px #979797;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  display: inline-block; }
  .murray.tile-container:hover {
    box-shadow: 0 0 15px black; }
  .murray.tile-container .img-container {
    content: url(../images/murray.jpeg);
    overflow: hidden; }
  .murray.tile-container .tile-title {
    margin: 10px 10px 5px;
    font-size: 24px; }
  .murray.tile-container .tile-title:after {
    content: "Bill Murray";
    font-size: 20px; }
  .murray.tile-container .tile-text {
    margin: 10px; }
  .murray.tile-container .tile-text:after {
    content: "We came, we saw, we kicked its ass!"; }
  .murray.tile-container .link-container {
    padding-left: 20px;
    position: absolute;
    bottom: 0; }
  .murray.tile-container a {
    display: inline-block;
    text-decoration: none;
    color: #FFAB40;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-size: 16px;
    transition: all 0.5s ease;
    border: 1px solid transparent; }
    .murray.tile-container a:first-of-type {
      margin-right: 10px; }
    .murray.tile-container a:hover {
      font-weight: 900;
      border: 1px solid #ffab40;
      border-radius: 2px; }

/******* Contents for Marty McFly ******/
.mcfly.tile-container {
  width: 300px;
  box-shadow: 0 0 10px #979797;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  display: inline-block; }
  .mcfly.tile-container:hover {
    box-shadow: 0 0 15px black; }
  .mcfly.tile-container .img-container {
    content: url(../images/mcfly.png); }
  .mcfly.tile-container .tile-title {
    margin: 10px 10px 5px;
    font-size: 24px; }
  .mcfly.tile-container .tile-title:after {
    content: "Marty McFly";
    font-size: 20px; }
  .mcfly.tile-container .tile-text {
    margin: 10px; }
  .mcfly.tile-container .tile-text:after {
    content: "Wait a minute. Wait a minute, Doc. Ah... Are you telling me that you built a time machine... out of a DeLorean?"; }
  .mcfly.tile-container .link-container {
    padding-left: 20px; }
  .mcfly.tile-container a {
    display: inline-block;
    text-decoration: none;
    color: #FFAB40;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-size: 16px;
    transition: all 0.5s ease;
    border: 1px solid transparent; }
    .mcfly.tile-container a:first-of-type {
      margin-right: 10px; }
    .mcfly.tile-container a:hover {
      font-weight: 900;
      border: 1px solid #ffab40;
      border-radius: 2px; }

/****** Content for Homer Simpson *******/
.homer.tile-container {
  width: 300px;
  box-shadow: 0 0 10px #979797;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  display: inline-block; }
  .homer.tile-container:hover {
    box-shadow: 0 0 15px black; }
  .homer.tile-container .img-container {
    content: url(../images/homer.jpg); }
  .homer.tile-container .tile-title {
    margin: 10px 10px 5px;
    font-size: 24px; }
  .homer.tile-container .tile-title:after {
    content: "Homer Simpson";
    font-size: 20px; }
  .homer.tile-container .tile-text {
    margin: 10px; }
  .homer.tile-container .tile-text:after {
    content: "It's not whether you win or lose. It's how drunk you get."; }
  .homer.tile-container .link-container {
    padding-left: 20px;
    position: absolute;
    bottom: 0; }
  .homer.tile-container a {
    display: inline-block;
    text-decoration: none;
    color: #FFAB40;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-size: 16px;
    transition: all 0.5s ease;
    border: 1px solid transparent; }
    .homer.tile-container a:first-of-type {
      margin-right: 10px; }
    .homer.tile-container a:hover {
      font-weight: 900;
      border: 1px solid #ffab40;
      border-radius: 2px; }

/*# sourceMappingURL=style.css.map */
